@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.top-bar {
    background-color: #EC362D;
    height: 69px;
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

}

.quizz-page {
    width: 100%;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizz-image {
    height: 227px;
    width: 100%;
    background-color: #1A9C21;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.quizz-image img {
    object-fit:cover; 
    width: 100%;   
    height: 100%;
}

.quizz-image span {
    position: absolute;
    color: white;
    font-size: 39px;

}

.questions-container {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.question-title {
    height: 138px;
    font-size: 23px;
    text-align: center;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 20px;
    width: 90%;

}

.question1 {
    background-color: #434CA0;
}

.question2 {
    background-color: #A0438D;
}

.result {
    background-color: #EC362D;
    width: 95%;
}


.options-container {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option{
    margin-bottom: 30px;
    height: 50%;
    width: 50%;
}

.option img {
    width: 330px;
    height: 175px;
    object-fit: cover;
}

.options-container h3 {
    margin-top: 5px;
}

.result-div {
    display: flex;
    width: 95%;
    font-size: 19px;
    color: #606060;
    font-weight: 700;
    line-height: 25px;
}

.result-div img{
    margin-right: 20px;
    margin-bottom: 22px;
    object-fit: cover;
    height: 100%;
    width: 50%;
}

.option-selected {
    color: #1A9C21;
}



.reset-button {
    background-color: #EC362D;
    font-size: 18px;
    color: white;
    font-weight: 400;
    width: 260px;
    height: 52px;
    border-radius: 15px;
    border: none;
    margin: auto;
    margin-top: 14px;
    cursor: pointer;
}

.home-button {
    background-color: transparent;
    border: none;
    color: #808080;
    font-size: 21px;
    margin-top: 16px;
    margin-bottom: 85px;
    cursor: git ;
}




@media (max-width: 770px){
    .questions-container {
        width: 100%;
    }

    .question-title {
        font-size: 19px;
    }

    .option{
        width: 48%;
    }

    .quizz-image {
        height: 142px;
    }
    .quizz-image span {
        font-size: 29px;
    }
}

@media (max-width: 570px){
    .result-div {
        flex-direction: column;
    }

    .reset-button {
        width: 220px;
        height: 44px;
    }
}


.hidden {
    display: none;
}